<ion-view title="Бронирование">
    <ion-content padding="true">
        <div class="h3" style="text-align: center; background-color:#afcbfb; height: 30px; border-radius: 5px;margin-bottom: 10px; color: #ffffff;">ЭКРАН</div>
        <div class="table">
            <div  style="margin-bottom: 5px" align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div  style="margin-bottom: 5px"  align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div  style="margin-bottom: 5px"  align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div align="center"  style="margin-bottom: 5px" >
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div  style="margin-bottom: 5px"  align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div  style="margin-bottom: 5px"  align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div align="center"  style="margin-bottom: 5px" >
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div  style="margin-bottom: 5px"  align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div  style="margin-bottom: 5px"  align="center">
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
            <div align="center"  style="margin-bottom: 5px" >
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
                <button class="booking-icon-default" ui-sref="app.timetable"/>
            </div>
        </div>

        <div ng-hide="false">
            <button class="col col-50 item booking-session-button-left">Принять</button>
            <button class="col col-50 item booking-session-button-right">Отмена</button>
        </div>
    </ion-content>
</ion-view>