<ion-view title="Бронирование">
    <ion-content padding="true">
        <h2>Бронирование</h2>

        <div class="button button-stable button-full" style="border-left: inset; border-right: inset; border-radius: 8px"></div>

        <div class="table">
            <div class="row" style="margin-bottom: 5px">
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
            </div>
            <div class="row">
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
                <button class="col booking-icon button button-balanced" ui-sref="app.timetable"/>
            </div>
        </div>

        <div class="button-bar" ng-hide="false">
            <a class="button button-small button-calm">Принять</a>
            <a class="button button-small button-calm">Отмена</a>
        </div>
    </ion-content>
</ion-view>