<ion-view title="Моё бронирование">
    <ion-content>
        <div class="card" ng-controller="SoonCtrl">
            <div class="row item">
                <img class="col-34" src="https://sovremennik.info/up/film/1211/poster.jpg" style="max-height: 120px; max-width: 80px;margin-bottom: 10px; margin-top: 10px; font-family: Ionicons"/>
                <div class="col-66 padding" style="margin-left: 10px;margin-bottom: 5px; margin-top: 5px">
                    <strong>Суперфорсаж!</strong>
                    <h2>13 марта в 19:40</h2>
                    <p>9 ряд, 6 место</p>
                    <p>9 ряд, 7 место</p>
                    <p>9 ряд, 8 место</p>
                    <p>9 ряд, 9 место</p>
                    <h2>Итого: 640 р.</h2>
                    <button class="button button-balanced button-small" ui-sref="app.booking">Изменить бронь</button>
                </div>
            </div>
            <div class="row item">
                <img class="col-34" src="https://sovremennik.info/up/film/1200/poster.jpg" style="max-height: 120px; max-width: 80px;margin-bottom: 10px; margin-top: 10px; font-family: Ionicons"/>
                <div class="col-66 padding" style="margin-left: 10px;margin-bottom: 5px; margin-top: 5px">
                    <strong>Мордекай</strong>
                    <h2>15 марта в 18:30</h2>
                    <p>5 ряд, 10 место</p>
                    <p>5 ряд, 11 место</p>
                    <h2>Итого: 360 р.</h2>
                    <button class="button button-balanced button-small" ui-sref="app.booking">Изменить бронь</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>