<ion-view title="Скоро">
    <ion-content padding="true">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img src="https://sovremennik.info/up/film/1199/poster_big.jpg">
                <h2>Духless 2</h2>
                <p>Драма</p>
                <p>5 марта - 18 марта</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="https://sovremennik.info/up/film/1210/poster_big.jpg">
                <h2>Снайпер</h2>
                <p>Драма</p>
                <p>5 марта - 18 марта</p>
            </div>
            <div class="item item-thumbnail-left" ui-sref="#">
                <img src="https://sovremennik.info/up/film/1192/poster_big.jpg">
                <h2>Золушка</h2>
                <p>Драма</p>
                <p>5 марта - 18 марта</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="https://sovremennik.info/up/film/1198/poster_big.jpg">
                <h2>Между делом</h2>
                <p>Драма</p>
                <p>5 марта - 18 марта</p>
            </div>
        </div>
    </ion-content>
</ion-view>